<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>detail</title>
  <style>
    p {
      display: inline;
    }
  </style>
</head>
<body>
  <h2>detail.html</h2>
  글 번호 : <p th:text="${board.getId()}" id="boardId"></p><br />
  제목 : <p th:text="${board.getBoardTitle()}"></p><br/>
  내용 : <p th:text="${board.getBoardContents()}"></p><br/>
  작성자 : <p th:text="${board.getBoardWriter()}"></p><br/>
  작성일자 : <p th:text="*{#temporals.format(board.getBoardCreatedDate(), 'yyyy-MM-dd HH:mm')}"></p><br/>
  조회수 : <p th:text="${board.getBoardHits()}"></p><br/>
  이미지 : <img th:src="@{|/upload/${board.getBoardFileName}|}" width="50px" height="50px" alt=""><br/>
  <button type="button" onclick="req(1)">수정</button>
  <button type="button" onclick="req(2)">삭제</button><br/>
  <span class="input-area">

  </span>
</body>
<script th:inline="javascript">
  const req = (num) => {
    const boardId = document.getElementById("boardId").innerHTML;

    if (num === 1) {
      location.href = '/board/update/' + boardId;
    } else {
      location.href = '/board/delete/' + boardId;
    }
  }
</script>
</html>