<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>detail</title>
  <style>
    p {
      display: inline;
    }
  </style>
</head>
<body>
<th:block th:replace="commonPages/header :: header"></th:block>
  <h2>detail.html</h2>
  글 번호 : <p th:text="${board.getId()}" id="boardId"></p><br />
  제목 : <p th:text="${board.getBoardTitle()}"></p><br/>
  내용 : <p th:text="${board.getBoardContents()}"></p><br/>
  작성자 : <p th:text="${board.getBoardWriter()}"></p><br/>
  작성일자 : <p th:text="*{#temporals.format(board.getBoardCreatedDate(), 'yyyy-MM-dd HH:mm')}"></p><br/>
  조회수 : <p th:text="${board.getBoardHits()}"></p><br/>
  이미지 : <img th:src="@{|/upload/${board.getBoardFileName()}|}" width="50px" height="50px" alt=""><br/>
  <div th:if="${session.loginId.equals(board.getBoardWriter())}">
    <button type="button" onclick="req(1)">수정</button>
    <button type="button" onclick="req(2)">삭제</button><br/>
  </div>
  <span class="input-area">

  </span>

  <br/>
  <br/>
  <form action="/comment/save" method="post">
    <input type="hidden" name="boardId" th:value="${board.id}">
    작성자 : <input type="text" name="commentWriter" th:value="${session.loginId}" readonly><br/>
    댓글내용 : <input type="text" name="commentContents"><br/>
    <button type="submit">작성하기</button><br/>
  </form>
  <table>
    <thead>
      <tr>
        <td>id</td>
        <td>commentWriter</td>
        <td>commentContents</td>
        <td>commentCreatedTime</td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <tr th:each="comment : ${commentList}">
        <td th:text="${comment.id}"></td>
        <td th:text="${comment.commentWriter}"></td>
        <td th:text="${comment.commentContents}"></td>
        <td th:text="*{#temporals.format(comment.getCommentCreatedTime(), 'yyyy-MM-dd HH:mm')}"></td>
        <td><button type="button" th:onclick="deleteCommentBTN([[${comment.id}]])">삭제</button></td>
      </tr>
    </tbody>
  </table>
</body>
<script th:inline="javascript">
  const req = (num) => {
    const boardId = document.getElementById("boardId").innerHTML;

    if (num === 1) {
      location.href = '/board/update/' + boardId;
    } else {
      location.href = '/board/delete/' + boardId;
    }
  }

  const deleteCommentBTN = (id) => {
    location.href = '/comment/delete/' + id;
  }
</script>
</html>