<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>list</title>
</head>
<body>
  <h2>list.html</h2>

  <table>
    <thead>
      <tr>
        <td>id</td>
        <td>boardTitle</td>
        <td>boardContents</td>
        <td>boardWriter</td>
        <td>boardCreatedTime</td>
        <td>boardHits</td>
      </tr>
    </thead>
    <tbody>
      <tr th:each="board : ${boardList}">
        <td th:text="${board.getId()}"></td>
        <td th:text="${board.getBoardTitle()}"></td>
        <td th:text="${board.getBoardContents()}"></td>
        <td th:text="${board.getBoardWriter()}"></td>
        <td th:text="*{#temporals.format(board.getBoardCreatedDate(), 'yyyy-MM-dd HH:mm')}"></td>
        <td th:text="${board.getBoardHits()}"></td>
      </tr>
    </tbody>
  </table>
  <button type="button" onclick="postBoard()">글 작성</button>
</body>
<script th:inline="javascript">
  const postBoard = () => {
    location.href = '/board/save-form';
  }
</script>
</html>