<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>list</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/js/jquery.js}"></script>
</head>
<body>
<th:block th:replace="commonPages/header :: header"></th:block>
  <h2>list.html</h2>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">boardTitle</th>
        <th scope="col">boardContents</th>
        <th scope="col">boardWriter</th>
        <th scope="col">boardCreatedTime</th>
        <th scope="col">boardHits</th>
        <th scope="col">boardFile</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="board : ${boardList}">
        <td th:text="${board.getId()}"></td>
        <td><a th:href="@{|/board/${board.getId}|}" th:text="${board.getBoardTitle()}"></a></td>
        <td th:text="${board.getBoardContents()}"></td>
        <td th:text="${board.getBoardWriter()}"></td>
        <td th:text="*{#temporals.format(board.getBoardCreatedDate(), 'yyyy-MM-dd HH:mm')}"></td>
        <td th:text="${board.getBoardHits()}"></td>
        <td><img th:src="@{|/upload/${board.boardFileName}|}" width="50px" height="50px" alt=""></td>
      </tr>
    </tbody>
  </table>

  <div class="container">
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <!--첫페이지 요청 링크-->
        <a class="page-link" th:href="@{/board(page=1)}">
          <span>First</span>
        </a>
      </li>

      <li th:class="${boardList.first} ? 'disabled'" class="page-item">
        <!--boardList.first: isFirst()
            boardList.number: getNumber()-->
        <a class="page-link" th:href="${boardList.first} ? '#' : @{/board(page=${boardList.number})}">
          <span><</span> <!-- < -->
        </a>
      </li>

      <!-- startPage ~ endPage 까지 숫자를 만들어주는 역할 -->
      <li th:each="page: ${#numbers.sequence(startPage, endPage)}"
          th:class="${page == boardList.number + 1} ? 'page-item active'" class="page-item" th:if="${page} > 0">
        <a class="page-link" th:text="${page}" th:href="@{/board(page=${page})}"></a>
      </li>

      <!-- 다음 페이지 요청
          현재 3페이지를 보고 있다면 다음 페이지는 4페이지임.
          getNumber() 값은 2임.
          따라서 4페이지를 보고 싶다면 getNumber()+2를 해야 컨트롤러에 4를 요청할 수 있음. -->
      <li th:class="${boardList.last} ? 'disabled'">
        <a class="page-link" th:href="${boardList.last} ? '#' : @{/board(page=${boardList.number + 2})}">
          <span>&gt;</span>
        </a>
      </li>

      <li class="page-item">
        <a class="page-link" th:href="${endPage} < 1 ? @{/board(page=${boardList.totalPages + 1})} : @{/board(page=${boardList.totalPages})}">
          <span>Last</span>
        </a>
      </li>
    </ul>
  </div>

  <button type="button" class="btn btn-dark" onclick="postBoard()">글 작성</button><br/>
  <input type="text" name="q" id="query">
  <button type="button" onclick="searchBoard()">검색</button><br/>

  <div class="output-div">

  </div>
</body>
<script th:inline="javascript">
  const postBoard = () => {
    location.href = '/board/save-form';
  }
  const searchBoard = () => {
    const q = document.getElementById("query").value;

    $.ajax({
      type: 'get',
      url: '/board/search',
      data: {"q" : q},
      dataType: 'json',
      success: function (result) {
        let output = "<table class=\"table table-hover\">\n" +
            "    <thead>\n" +
            "    <tr>\n" +
            "      <th scope=\"col\">id</th>\n" +
            "      <th scope=\"col\">boardTitle</th>\n" +
            "      <th scope=\"col\">boardContents</th>\n" +
            "      <th scope=\"col\">boardWriter</th>\n" +
            "      <th scope=\"col\">boardCreatedTime</th>\n" +
            "      <th scope=\"col\">boardHits</th>\n" +
            "      <th scope=\"col\">boardFile</th>\n" +
            "    </tr>\n" +
            "    </thead>\n" +
            "    <tbody>\n";

        for (let i = 0; i < result.length; i++) {
          output +=    "      <tr>\n" +
              "        <td>" + result[i].id + "</td>\n" +
              "        <td><a href='/board/" + result[i].id + "'>" + result[i].boardTitle + "</a></td>\n" +
              "        <td>" + result[i].boardContents + "</td>\n" +
              "        <td>" + result[i].boardWriter + "</td>\n" +
              "        <td>" + result[i].boardCreatedDate + "</td>\n" +
              "        <td>" + result[i].boardHits + "</td>\n" +
              "        <td>" + "<img src='/upload/" + result[i].boardFileName + "' width=\"50px\" height=\"50px\" alt=\"\">" + "</td>\n" +
              "      </tr>\n";
        }
        output +=    "    </tbody>\n" +
              "  </table>";

        document.querySelector(".output-div").innerHTML = output;
      },
      err: function () {
        alert('에러');
      }
    });
  }
</script>
</html>