<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>save</title>
</head>
<body>
  <h2>save.html</h2>

  <form action="/board/save" method="post" enctype="multipart/form-data">
    작성자 : <input type="text" name="boardWriter" th:value="${session.loginId}" readonly><br/>
    제목 : <input type="text" name="boardTitle"><br/>
    내용 : <input type="text" name="boardContents"><br/>
    파일 : <input type="file" name="boardFile"><br/>
    <button type="submit">작성하기</button>
  </form>
</body>
</html>